body {
    background-color: #3b3b46;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

div .heading {
    background-color: #8755af;
}

h1 {
    color: white;
}

.btn-outline-secondary {
    border: 0;
}